In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
import matplotlib.pyplot as plt

In [5]:
import seaborn as sns

In [8]:
gdp_df = pd.read_csv("../data/gdp_percapita.csv")

In [9]:
gdp_df

     Country or Area  Year        Value  Value Footnotes
0        Afghanistan  2020  1970.560169              NaN
1        Afghanistan  2019  2065.036235              NaN
2        Afghanistan  2018  2033.804389              NaN
3        Afghanistan  2017  2058.400221              NaN
4        Afghanistan  2016  2057.067978              NaN
...              ...   ...          ...              ...
7171        Zimbabwe  1994  2603.927369              NaN
7172        Zimbabwe  1993  2420.092791              NaN
7173        Zimbabwe  1992  2437.152908              NaN
7174        Zimbabwe  1991  2733.696626              NaN
7175        Zimbabwe  1990  2652.129209              NaN

[7176 rows x 4 columns]

In [12]:
gdp_df.dtypes

Country or Area     object
Year                 int64
Value              float64
Value Footnotes    float64
dtype: object

In [15]:
gdp_df.columns

Index(['Country or Area', 'Year', 'Value', 'Value Footnotes'], dtype='object')

In [17]:
gdp_df.drop(columns=['Value Footnotes'])

     Country or Area  Year        Value
0        Afghanistan  2020  1970.560169
1        Afghanistan  2019  2065.036235
2        Afghanistan  2018  2033.804389
3        Afghanistan  2017  2058.400221
4        Afghanistan  2016  2057.067978
...              ...   ...          ...
7171        Zimbabwe  1994  2603.927369
7172        Zimbabwe  1993  2420.092791
7173        Zimbabwe  1992  2437.152908
7174        Zimbabwe  1991  2733.696626
7175        Zimbabwe  1990  2652.129209

[7176 rows x 3 columns]

In [31]:
gdp_df.rename(columns={'Country or Area':'Country', 'Value':'GDP_Per_Capita'},inplace=True),
gdp_df1 = (gdp_df.drop(columns=['Value Footnotes']))

In [32]:
gdp_df1

          Country  Year  GDP_Per_Capita
0     Afghanistan  2020     1970.560169
1     Afghanistan  2019     2065.036235
2     Afghanistan  2018     2033.804389
3     Afghanistan  2017     2058.400221
4     Afghanistan  2016     2057.067978
...           ...   ...             ...
7171     Zimbabwe  1994     2603.927369
7172     Zimbabwe  1993     2420.092791
7173     Zimbabwe  1992     2437.152908
7174     Zimbabwe  1991     2733.696626
7175     Zimbabwe  1990     2652.129209

[7176 rows x 3 columns]

In [46]:
gdp_df1.Country.value_counts()==31

Country
Least developed countries: UN classification     True
Niger                                            True
Middle East & North Africa (IDA & IBRD)          True
Middle income                                    True
Mongolia                                         True
                                                ...
Kosovo                                          False
Turks and Caicos Islands                        False
Sint Maarten (Dutch part)                       False
Somalia                                         False
Djibouti                                        False
Name: count, Length: 242, dtype: bool

In [34]:
gdp_df1.count()

Country           7176
Year              7176
GDP_Per_Capita    7176
dtype: int64

In [49]:
gdp_df1.Country.value_counts()

Country
Least developed countries: UN classification    31
Niger                                           31
Middle East & North Africa (IDA & IBRD)         31
Middle income                                   31
Mongolia                                        31
                                                ..
Kosovo                                          13
Turks and Caicos Islands                        10
Sint Maarten (Dutch part)                       10
Somalia                                          8
Djibouti                                         8
Name: count, Length: 242, dtype: int64

In [52]:
gdp_count = (gdp_df1.Country.value_counts())
print(gdp_count)

Country
Least developed countries: UN classification    31
Niger                                           31
Middle East & North Africa (IDA & IBRD)         31
Middle income                                   31
Mongolia                                        31
                                                ..
Kosovo                                          13
Turks and Caicos Islands                        10
Sint Maarten (Dutch part)                       10
Somalia                                          8
Djibouti                                         8
Name: count, Length: 242, dtype: int64

In [55]:
type(gdp_count)

pandas.core.series.Series

In [57]:
gdp_frame = gdp_count.to_frame()

In [60]:
gdp_frame = gdp_frame.reset_index()

In [61]:
gdp_frame

                                          Country  count
0    Least developed countries: UN classification     31
1                                           Niger     31
2         Middle East & North Africa (IDA & IBRD)     31
3                                   Middle income     31
4                                        Mongolia     31
..                                            ...    ...
237                                        Kosovo     13
238                      Turks and Caicos Islands     10
239                     Sint Maarten (Dutch part)     10
240                                       Somalia      8
241                                      Djibouti      8

[242 rows x 2 columns]

In [79]:
gdp_frame.query('count == 31')

                                          Country  count
0    Least developed countries: UN classification     31
1                                           Niger     31
2         Middle East & North Africa (IDA & IBRD)     31
3                                   Middle income     31
4                                        Mongolia     31
..                                            ...    ...
200                                      IDA only     31
201      Fragile and conflict affected situations     31
202                                       Ireland     31
203                                        France     31
204                                         Italy     31

[205 rows x 2 columns]

In [77]:
gdp_frame.value_counts([gdp_frame['count'] == 31])

count
True     205
False     37
Name: count, dtype: int64

In [80]:
len(gdp_frame.query('count == 31'))

205

###What was the median GDP per capita value in 2020?

In [96]:
gdp_df1.query('Year == 2020')

                          Country  Year  GDP_Per_Capita
0                     Afghanistan  2020     1970.560169
19    Africa Eastern and Southern  2020     3491.978104
50     Africa Western and Central  2020     4021.293919
81                        Albania  2020    13253.733337
112                       Algeria  2020    10735.382539
...                           ...   ...             ...
7025                      Vietnam  2020    10338.270543
7056           West Bank and Gaza  2020     5402.538773
7083                        World  2020    16269.969854
7114                       Zambia  2020     3277.816510
7145                     Zimbabwe  2020     2134.555461

[240 rows x 3 columns]

In [90]:
gdp2020 = gdp_df1.query('Year == 2020')

In [98]:
gdp2020['GDP_Per_Capita'].median()

12908.9374056206

In [99]:
gdp_df1

          Country  Year  GDP_Per_Capita
0     Afghanistan  2020     1970.560169
1     Afghanistan  2019     2065.036235
2     Afghanistan  2018     2033.804389
3     Afghanistan  2017     2058.400221
4     Afghanistan  2016     2057.067978
...           ...   ...             ...
7171     Zimbabwe  1994     2603.927369
7172     Zimbabwe  1993     2420.092791
7173     Zimbabwe  1992     2437.152908
7174     Zimbabwe  1991     2733.696626
7175     Zimbabwe  1990     2652.129209

[7176 rows x 3 columns]

In [100]:
gdp1990 = gdp_df1.query('Year == 1990')

In [101]:
gdp2000 = gdp_df1.query('Year == 2000')

In [102]:
gdp2010 = gdp_df1.query('Year == 2010')

In [105]:
gdp_df1.loc[(gdp_df.Year == 1990) | (gdp_df.Year == 2000) | (gdp_df.Year == 2010) | (gdp_df.Year == 2020)]

                          Country  Year  GDP_Per_Capita
0                     Afghanistan  2020     1970.560169
10                    Afghanistan  2010     1957.029070
19    Africa Eastern and Southern  2020     3491.978104
29    Africa Eastern and Southern  2010     3545.205203
39    Africa Eastern and Southern  2000     2915.472987
...                           ...   ...             ...
7144                       Zambia  1990     2190.181724
7145                     Zimbabwe  2020     2134.555461
7155                     Zimbabwe  2010     1813.531764
7165                     Zimbabwe  2000     2771.060576
7175                     Zimbabwe  1990     2652.129209

[918 rows x 3 columns]