In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
import matplotlib.pyplot as plt

In [5]:
import seaborn as sns

In [8]:
gdp_df = pd.read_csv("../data/gdp_percapita.csv")

In [9]:
gdp_df

     Country or Area  Year        Value  Value Footnotes
0        Afghanistan  2020  1970.560169              NaN
1        Afghanistan  2019  2065.036235              NaN
2        Afghanistan  2018  2033.804389              NaN
3        Afghanistan  2017  2058.400221              NaN
4        Afghanistan  2016  2057.067978              NaN
...              ...   ...          ...              ...
7171        Zimbabwe  1994  2603.927369              NaN
7172        Zimbabwe  1993  2420.092791              NaN
7173        Zimbabwe  1992  2437.152908              NaN
7174        Zimbabwe  1991  2733.696626              NaN
7175        Zimbabwe  1990  2652.129209              NaN

[7176 rows x 4 columns]

In [12]:
gdp_df.dtypes

Country or Area     object
Year                 int64
Value              float64
Value Footnotes    float64
dtype: object

In [15]:
gdp_df.columns

Index(['Country or Area', 'Year', 'Value', 'Value Footnotes'], dtype='object')

In [17]:
gdp_df.drop(columns=['Value Footnotes'])

     Country or Area  Year        Value
0        Afghanistan  2020  1970.560169
1        Afghanistan  2019  2065.036235
2        Afghanistan  2018  2033.804389
3        Afghanistan  2017  2058.400221
4        Afghanistan  2016  2057.067978
...              ...   ...          ...
7171        Zimbabwe  1994  2603.927369
7172        Zimbabwe  1993  2420.092791
7173        Zimbabwe  1992  2437.152908
7174        Zimbabwe  1991  2733.696626
7175        Zimbabwe  1990  2652.129209

[7176 rows x 3 columns]

In [31]:
gdp_df.rename(columns={'Country or Area':'Country', 'Value':'GDP_Per_Capita'},inplace=True),
gdp_df1 = (gdp_df.drop(columns=['Value Footnotes']))

In [32]:
gdp_df1

          Country  Year  GDP_Per_Capita
0     Afghanistan  2020     1970.560169
1     Afghanistan  2019     2065.036235
2     Afghanistan  2018     2033.804389
3     Afghanistan  2017     2058.400221
4     Afghanistan  2016     2057.067978
...           ...   ...             ...
7171     Zimbabwe  1994     2603.927369
7172     Zimbabwe  1993     2420.092791
7173     Zimbabwe  1992     2437.152908
7174     Zimbabwe  1991     2733.696626
7175     Zimbabwe  1990     2652.129209

[7176 rows x 3 columns]

In [46]:
gdp_df1.Country.value_counts()==31

Country
Least developed countries: UN classification     True
Niger                                            True
Middle East & North Africa (IDA & IBRD)          True
Middle income                                    True
Mongolia                                         True
                                                ...
Kosovo                                          False
Turks and Caicos Islands                        False
Sint Maarten (Dutch part)                       False
Somalia                                         False
Djibouti                                        False
Name: count, Length: 242, dtype: bool

In [34]:
gdp_df1.count()

Country           7176
Year              7176
GDP_Per_Capita    7176
dtype: int64

In [37]:
gdp_df1.value_counts()

Country       Year  GDP_Per_Capita
Afghanistan   2002  1189.784668       1
OECD members  2018  44099.951717      1
Nigeria       2000  2977.041475       1
              1999  2906.723968       1
              1998  2962.892112       1
                                     ..
Ghana         2014  4794.147084       1
              2013  4769.072559       1
              2012  4548.579354       1
              2011  4261.620748       1
Zimbabwe      2020  2134.555461       1
Name: count, Length: 7176, dtype: int64

In [40]:
gdp_count = (gdp_df1.Country.value_counts())